.disabledText{
    background: #eeeeee;
    :global(.am-list-item .am-input-control input){
        background: #eeeeee;
    }
    :global(.am-input-label){
        color: #888888;
    }
}

.textWidget{
    border-bottom: 1px solid #f0eff4;
}
