<!DOCTYPE html>
<html style="font-size: 100px">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <title>Editor</title>
    <link href="https://cdn.bootcss.com/antd-mobile/2.2.5/antd-mobile.css" rel="stylesheet">
    <style type="text/css">
        #app {
            height: 100%;
            width: 100%;
            min-width: 1200px;
            font-size: 14px;
        }
    </style>

</head>
<body>
<div id="app"></div>

<script src="//libs-test1.7qqf.com/react/16.4.2/umd/react.development.js"></script>
<script src="//libs-test1.7qqf.com/react-dom/16.4.2/umd/react-dom.development.js"></script>
<script src="//libs-test1.7qqf.com/react-router-dom/4.3.1/react-router-dom.js"></script>
<script src="//libs-test1.7qqf.com/lodash.js/4.17.10/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/6.5.3/ajv.bundle.js"></script>
<script src="//libs-test1.7qqf.com/mobx/4.4.0/mobx.umd.js"></script>
<script src="//libs-test1.7qqf.com/mobx-react/5.2.5/index.js"></script>
<script src="//libs-test1.7qqf.com/moment.js/2.22.2/moment.js"></script>
<script src="//libs-test1.7qqf.com/moment.js/2.22.2/locale/zh-cn.js"></script>

</body>
</html>
